.button-cliente-modal{
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.box-cliente{
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.116);
}

.box-cliente img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.cliente-nome{
    position: absolute;
    width: 0%;
    opacity: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #082c46;
    z-index: 1;
    display: grid;
    place-items: center;
    transition: all 0.5s cubic-bezier(.5,0,.5,.99);
}

.cliente-nome h4{
    color: #FFF;
    font-size: 32px;
    text-align: center;
}

.box-cliente:hover .cliente-nome{
    width: 100%;
    opacity: 1;
    transition: all 0.5s cubic-bezier(.5,0,.5,.99);
}


