*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: #082C46;
}

html {
  font-family: 'Roboto', sans-serif;
}

p {
    line-height: 23px;
}


body::-webkit-scrollbar{
    width: 10px;
    overflow: hidden;
}

body::-webkit-scrollbar-track{
    background-color: #082C46;
    border: 1px solid rgba(0, 0, 0, 0.397);
    border-radius: 50px;
}

body::-webkit-scrollbar-thumb{
    background-color: #FFF;
    border-radius: 20px;
}